/*$font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
*/
  .new{
    padding: 20px;

  }
 
 .card-vertical-spacing{
      margin-top: 140px;
 }

#particles-js {
    width: 100%;
    height: 100%;
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    position: absolute;
    
}

canvas {
    display: block;
    vertical-align: bottom;
}

body{
  padding: 0;
  margin: 0;
}

.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.col{
  align-items: center;
  text-align: center;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

/*Testimonial*/
body{
  font-family: 'Lato', sans-serif;
}
h2{
  position: relative;
  text-align: center;
}
h2::after{
  content: "";
  width: 130px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #FFC107;
  left: 0;
  right: 0;
  bottom: -10px;
}
.carousel-inner .carousel-item .img-box{
  width: 135px;
  height: 135px;
}
.carousel-control-prev{
  left: -100px;
}
.carousel-control-next{
  right: -100px;

}
.carousel-indicators{
  top: 220px;
}

.carousel-control-next-icon:after
{
  content: '>';
  top: 120px;
  font-size: 55px;
  color: #007bff;
}

.carousel-control-prev-icon:after {
  content: '<';
  top: 120px;
  font-size: 55px;
  color: #007bff;
}

@media (min-width: 320px) and (max-width: 640px) {
  .carousel-inner .carousel-item p{
    font-size: 14px;
  }
  .carousel-control-prev{
    left: -40px;
  }
  .carousel-control-next{
    right: -40px;
  }
  .carousel-indicators{
    top: 400px;
  }
}

/*Testiomnial*/

.page-footer{
  background-color: #007bff
}

.display-2{
  font-family: 'Sacramento', cursive;
}