.new-1{
	padding: 20px;
}

.image{
  width: 300px;
  height: 300px;
  border-radius: 50%; /*don't forget prefixes*/
  /*background-image: url("1.jpg");*/
  background-position: center center;
  /* as mentioned by Vad: */
  background-size: cover;
}


.col{
	margin-top: 90px;
}


.vertical { 
            border-left: 4px solid #FFC107; 
            height: 200px; 
            position:absolute; 
            left: 50%; 
            margin-top: 110px;
        } 


@media (max-width: 770px) {
.vertical {
visibility:hidden;
}
}

h2{
  position: relative;
  text-align: center;
}

h2::after{
  content: "";
  width: 130px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #007BFF;
  left: 0;
  right: 0;
  bottom: -10px;
}

.rounds{
  width: 200px;
  height: 200px;
  border-radius: 50%; /*don't forget prefixes*/
  background-position: center center;
  /* as mentioned by Vad: */
  background-size: cover;
}

.page-footer{
  background-color: #007bff
}